.login {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 50px;
}

.login-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 300px;
}

.login-btn-connexion {
    margin-top: 20px;
    margin-bottom: 20px;
}